name: Building the catalog

on:
  push:
    branches-ignore:
      - master
  pull_request:
  
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout sources
      uses: actions/checkout@v3

    - name: Set up JDK 1.8
      uses: actions/setup-java@v3
      with:
        distribution: 'temurin'
        java-version: 8
        cache: 'maven'

    - name: Build with Maven
      run: mvn -B --update-snapshots verify --file pom.xml